.nav-bar-wrapper svg.search {
  stroke: #fff;
  fill: none;
  cursor: pointer;
}
	
.wrapper {
  padding-top: 65px;
}
.wrapper svg.article-info-icon {
  fill: none;
  stroke: #000;
  width: 25px;
  height: 25px;
}
.wrapper .article-infos {
  max-width: 450px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 15px 17px;
  box-sizing: border-box;
}
@media screen and (min-width: 600px) {
  .wrapper .article-infos {
    max-width: initial;
  }
}
@media screen and (min-width: 730px) {
  .wrapper .article-infos {
    padding: 20px 30px 17px;
  }
}
.wrapper h2.article-title {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 15px;
}
@media screen and (min-width: 600px) {
  .wrapper h2.article-title {
    font-size: 20px;
    line-height: 27px;
    flex-grow: 1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    max-width: 320px;
    align-self: center;
  }
}
.wrapper li.article {
  box-sizing: border-box;
  border-top: 1px solid #eaeaea;
  position: relative;
}
@media screen and (min-width: 600px) {
  .wrapper li.article {
    border: none;
    height: 300px;
    display: flex;
  }
  .wrapper li.article:nth-child(even) .article-infos:after {
    content: '';
    border-left: 15px solid #fff;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    position: absolute;
    right: -15px;
    top: calc(50% - 7.5px);
  }
  .wrapper li.article:nth-child(odd) .article-infos:after {
    content: '';
    border-right: 15px solid #fff;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    position: absolute;
    left: -15px;
    top: calc(50% - 7.5px);
  }
  .wrapper li.article:nth-child(2) .article-bg {
    background-image: url("images/img3.png");
    background-size: cover;
    background-position: center;
  }
  .wrapper li.article:nth-child(3) .article-bg {
    background-image: url("images/img4.png");
    background-size: cover;
    background-position: center;
    background-position: top;
  }
  .wrapper li.article:nth-child(4) .article-bg {
    background-image: url("images/img2.png");
    background-size: cover;
    background-position: center;
  }
  .wrapper li.article div {
    flex-grow: 1;
    width: 50%;
  }
  .wrapper li.article:nth-child(even) .article-bg {
    order: 1;
  }
  .wrapper li.article .article-bg {
    height: 100%;
    background: rgba(0,0,0,0.1);
  }
}
@media screen and (min-width: 800px) {
  .wrapper li.article {
    height: 350px;
  }
}
.wrapper li.article:nth-child(1) {
  border: none;
  height: 50vh;
  min-height: 300px;
  position: relative;
  color: #fff;
  display: flex;
}
@media screen and (min-width: 600px) {
  .wrapper li.article:nth-child(1) h2 {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 40px;
    align-items: flex-end;
    text-align: left;
    max-width: 500px;
    align-self: initial;
  }
}
.wrapper li.article:nth-child(1) svg {
  stroke: rgba(255,255,255,0.7);
}
.wrapper li.article:nth-child(1) .article-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/img1.png");
  background-size: cover;
  background-position: right;
}
ul.articles-more-infos {
  display: flex;
  align-items: center;
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  ul.articles-more-infos {
    font-size: 10px;
  }
}
ul.articles-more-infos li.source,
ul.articles-more-infos li.time {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
ul.articles-more-infos li.category {
  flex-grow: 1;
  text-align: right;
}
ul.articles-more-infos li.category a {
  position: relative;
}
ul.articles-more-infos li.category a:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background: currentColor;
  opacity: 0.5;
  left: 0;
  bottom: -5px;
}
@media screen and (min-width: 1050px) {
  ul.articles {
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper li.article {
    flex-basis: 50%;
    height: 50vh;
  }
  .wrapper li.article:nth-child(1) {
    height: inherit;
  }
  .wrapper h2.article-title {
    max-width: 250px;
  }
  .wrapper li.article:nth-child(4n+0),
  .wrapper li.article:nth-child(4n+1) {
    color: #fff;
  }
  .wrapper li.article:nth-child(4n+0) h2,
  .wrapper li.article:nth-child(4n+1) h2 {
    align-items: flex-end;
    justify-content: left;
    max-width: 450px;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
    line-height: 35px;
    align-self: flex-start;
  }
  .wrapper li.article:nth-child(4n+0) .article-bg,
  .wrapper li.article:nth-child(4n+1) .article-bg {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.indicator {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 450px;
}
@media screen and (min-width: 550px) {
  .indicator {
    min-width: 450px;
  }
}
@media screen and (min-width: 900px) {
  .indicator {
    min-width: 700px;
  }
}
.indicator ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.indicator ul li.buble {
  margin: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.indicator ul li.buble.active {
  border: 1px solid rgba(255,255,255,0.3);
}
.indicator ul li.buble .inner-buble {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.indicator ul li.line {
  height: 2px;
  background-color: rgba(255,255,255,0.3);
  flex-grow: 1;
}
li.buble.active > h4.buble-txt {
  color: #fff;
}
h4.buble-txt {
  display: none;
}
@media screen and (min-width: 500px) {
  h4.buble-txt {
    color: rgba(255,255,255,0.3);
    display: block;
    font-size: 8px;
    position: absolute;
    top: 142%;
    width: 150%;
    text-align: center;
  }
}
.nav-bar-wrapper {
  display: none;
  padding: 25px 20px 10px;
  box-sizing: border-box;
  z-index: 145;
}
@media screen and (min-width: 10px) {
  .nav-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: #f96332;
    position: fixed;
    top: 0;
    left: 0;
	
  }
  .nav-bar-wrapper .close {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  .nav-bar-wrapper .close span.close-line {
    width: 30px;
    height: 2px;
    top: 14px;
    background: #fff;
    position: absolute;
  }
  .nav-bar-wrapper .close span.close-line:nth-child(2) {
    transform: rotate(45deg);
  }
  .nav-bar-wrapper .close span.close-line:nth-child(1) {
    transform: rotate(-45deg);
  }
  .nav-bar-wrapper svg {
    fill: #fff;
    width: 25px;
    height: 25px;
  }
  .nav-bar-wrapper .burger {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
  }
  .nav-bar-wrapper .burger span:nth-child(1) {
    top: 5px;
  }
  .nav-bar-wrapper .burger span:nth-child(2) {
    top: 14px;
  }
  .nav-bar-wrapper .burger span:nth-child(3) {
    top: 23px;
  }
  .nav-bar-wrapper .burger .burger-line,
  .nav-bar-wrapper .burger .burger-line-small {
    position: absolute;
    width: 25px;
    height: 2px;
    background: #fff;
  }
  .nav-bar-wrapper .burger .burger-line-small {
    width: 15px;
  }
}
.nav-avatar {
  display: none;
}
.nav-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@media screen and (min-width: 550px) {
  .nav-avatar {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
  }
}
@media screen and (min-width: 550px) {
  .nav-bar-right {
    display: flex;
  }
   .nav-bar-right div {
    margin-left: 20px;
    display: flex;
    align-self: center;
  }
}
.navigation-bg {
  width: 120%;
  position: absolute;
  top: -10%;
  left: -10%;
  height: 120%;
  background-image: url("images/bg.png");
  background-size: cover;
  background-position: left;
  filter: blur(10px);
  opacity: 0.2;
}
.navigation-wrapper {
  position: fixed;
  top: 0;
  left: -270px;
  overflow: hidden;
  background: linear-gradient(#ff6a3a, #000);
  height: 100vh;
  width: 270px;
  display: none;
  flex-direction: column;
  z-index: 100;
  transition: 0.5s linear left;
}
@media screen and (min-width: 10px) {
  .navigation-wrapper {
    display: flex;
  }
}
.navigation-wrapper.translated {
  left: 0;
}
.navigation-wrapper svg.navigation-icon {
  width: 25px;
  height: 25px;
}
.navigation-wrapper .navigation {
  flex-grow: 1;
  padding-top: 20px;
}
.navigation-wrapper .navigation,
.navigation-wrapper .navigation-profile {
  z-index: 3;
  position: relative;
}
.navigation-wrapper svg.navigation-icon {
  fill: none;
  stroke: rgba(255,255,255,0.7);
  flex-basis: 80px;
}
.navigation-wrapper li.navigation-link {
  margin: 15px 0;
}
.navigation-wrapper li.navigation-link h2 {
  flex-grow: 2;
}
.navigation-wrapper li.navigation-link a {
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.navigation-wrapper li.navigation-link a:hover > svg {
  stroke: #fff;
}
.navigation-wrapper .navigation-profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 20px;
}
.navigation-wrapper .navigation-profile:after {
  content: '';
  position: absolute;
  top: -20px;
  height: 1px;
  background-color: rgba(255,255,255,0.3);
  width: 80%;
  left: 10%;
}
.navigation-wrapper .navigation-profile a {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
  display: inline-block;
}
.navigation-wrapper .navigation-profile p {
  color: rgba(255,255,255,0.5);
  font-size: 13px;
}
.navigation-wrapper .navigation-profile .navigation-profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}
.navigation-wrapper li.big-screen {
  display: none;
}
@media screen and (min-width: 750px) {
  .navigation-wrapper li.big-screen {
    display: block;
  }
  .navigation-wrapper li.big-screen.line-over {
    position: relative;
    margin-top: 50px;
  }
  .navigation-wrapper li.big-screen.line-over:after {
    content: '';
    position: absolute;
    top: -20px;
    height: 1px;
    background-color: rgba(255,255,255,0.3);
    width: 80%;
    left: 10%;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Montserrat, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  border: none;
  outline: none;
}
.app-wrapper {
  max-width: 100vw;
  overflow: hidden;
}
.wrapper {
  transition: 0.5s linear transform;
}
.wrapper .black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 100;
  display: none;
}
.wrapper.translated {
  transform: translateX(270px);
}
.wrapper.translated .black-overlay {
  display: block;
}
