* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

body {
	  background-color:#847575;
}


/* Gb-font-sizes start */ /*gb-text-title , gb-text-paragraph, gb-text-label*/

.gb-text-label{
	font-size : 10px;
}


.gb-text-paragraph{
	font-size : 15px;
}


.gb-text-title{
	font-size : 18px;
	line-height: 24px;
}

@media screen and (min-width : 550px){
	.gb-text-title{
		font-size : 20px;
		line-height: 26px;
	}
}

.gb-text-title-large{
	font-size : 30px;
}

@media screen and (min-width : 550px){
	.gb-text-title-large{
		font-size : 38px;
	}
}

@media screen and (min-width : 950px){
	.gb-text-title-large{
		font-size : 45px;
	}
}



/* Gb-font-sizes end */

/* Gb-text-color start */

.gb-text-white{
	color : rgb(255,255,255);
}

.gb-text-white-opacity-50{
	color : rgba(255,255,255,.5);
}

.gb-text-black {
	color : rgb(0,0,0);
}

.gb-text-black-opacity-30{
	color : rgba(0,0,0,.3);
}

.gb-text-black-opacity-40{
	color : rgba(0,0,0,.4);
}

.gb-text-black-opacity-50{
	color : rgba(0,0,0,.5);
}

.gb-text-dark-blue{
	color : rgb(29,29,38);
}

.gb-text-orange{
	color : rgb(249,99,50);
}

/* Gb-text-color end */



/* Devices start */

	/* phone */
@media screen and (max-width : 375px){
	.gb-phone-hide{
		display : none !important;
	}
}

	/* tablet */
@media screen and (max-width : 768px){
	.gb-tablet-hide{
		display : none !important;
	}
}

@media screen and (min-width : 375px) and (max-width : 768px) {
	.gb-tablet-show{
		display : block !important;
	}
	
	.gb-tablet-show-flex{
		display : flex !important;
	}
	
	.gb-tablet-show-inline{
		display : inline-block !important;
	}
}

	/* dextop */
@media screen and (max-width : 1024px){
	.gb-dextop-hide{
		display : none !important;
	}
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
	.gb-dextop-show{
		display : block !important;
	}
	
	.gb-dextop-show-flex{
		display : flex !important;
	}
	
	.gb-dextop-show-inline{
		display : inline-block !important;
	}
}

	/* hd-dextop */
@media screen and (max-width : 1440px){
	.gb-hd-dextop-hide{
		display : none !important;
	}
}

@media screen and (min-width : 1024px) and (max-width : 1440px) {
	.gb-hd-dextop-show{
		display : block !important;
	}
	
	.gb-hd-dextop-show-flex{
		display : flex !important;
	}
	
	.gb-hd-dextop-show-inline{
		display : inline-block !important;
	}
}

	/* 4k-dextop */
@media screen and (max-width : 1920px){
	.gb-4k-dextop-hide{
		display : none !important;
	}
}

@media screen and (min-width : 1440px) and (max-width : 1920px) {
	.gb-4k-dextop-show{
		display : block !important;
	}
	
	.gb-4k-dextop-show-flex{
		display : flex !important;
	}
	
	.gb-4k-dextop-show-inline{
		display : inline-block !important;
	}
}

/* Devices end */


/* Icons start */

.gb-icon-medium {
	width : 25px;
	height : 25px;
}

.gb-icon-small{
	width : 20px;
	height : 20px;
}

.gb-icon-white{
	fill : none;
	stroke : rgb(255,255,255);
}

.gb-icon-white-opacity-50{
	fill : none;
	stroke : rgba(255,255,255,.5); 
}

.gb-icon-black-opacity-30{
	fill : none;
	stroke : rgba(0,0,0,.3);
}

/* Icons end */


/* Avatars start */
.gb-avatar {
	border-radius : 50%;
	background-size : cover;
	background-position: center;
}

.gb-avatar-large{
	width : 60px;
	height : 60px;
}

@media screen and (min-width : 500px){
	.gb-avatar-large{
		width : 100px;
		height : 100px;
	}
}

@media screen and (min-width : 950px){
	.gb-avatar-large{
		width : 120px;
		height : 120px;
	}
}

.gb-avatar-medium{
	width : 40px;
	height : 40px;
}

.gb-avatar-small{
	width : 30px;
	height : 30px;
}

.gb-avatar-tiny{
	width : 20px;
	height : 20px;
}

/* Avatars end */

/* Buttons start */

.gb-btn{
	border-radius: 50px;
	align-items: center;
	text-decoration: none;
	justify-content: center;
	font-weight: bold;
	border:none;
}

.gb-btn-primary{
	color : rgb(255,255,255);
	background-color : rgb(249,99,50);
	font-size : 15px;
	font-weight: bold;
}

.gb-btn-primary:hover{
	background-color : rgb(237, 94, 47);
}

.gb-btn-large{
	width: 90%;
	height: 55px;
	max-width: 350px;
	min-width: 250px;
}

.gb-btn-small{
	width : 100px;
	height : 40px;
	font-size : 13px;
}

.gb-btn-outlined{
	color : rgb(255,255,255);
	background-color : transparent;
	border : 1px solid rgba(255,255,255,.3)
}

.gb-btn-outlined:hover{
	background-color : rgba(255,255,255,.1);
}

.gb-btn-outlined-on-current {
	color : rgba(255,255,255,.5);
	background-color : transparent;
}

.gb-btn-outlined-on-current:hover{
	color : rgb(255,255,255);
}

.gb-btn-outlined-on-current.current{
	color : rgb(255,255,255);
	border : 1px solid rgba(255,255,255,.3);
}

.gb-btn-white{
	color : rgb(249,99,50);
	background-color : rgb(255,255,255);
}

.gb-btn-white:hover{
	color : rgb(255,255,255);
	background-color : rgb(249,99,50);
}

.gb-btn-icon-round{
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gb-btn-icon-round-transparent{
	background-color : rgba(255,255,255,.1);
}

.gb-btn-icon-round-transparent svg{
	stroke : rgb(255,255,255) !important;
}

.gb-btn-icon-round-transparent.current{
	background-color : rgb(255,255,255);
	box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
}

.gb-btn-icon-round-transparent.current svg{
	stroke : rgb(249,99,50) !important;
}

.gb-btn-icon-round-small{

}

.gb-btn-icon-round-medium{
	
}

.gb-btn-icon-round-large{
	
}

/* Buttons end */

/*
-> BUTTONS : 
		-> gb-btn-icon-round ( background-color : rgba(255,255,255,.1) , fill : rgb(255,255,255) , border-radius: 50% , flex-centered)
		:hover ( box-shadow ??)
    -> gb-btn-icon-round.current ( background-color : rgb(255,255,255) , fill : rgb(249,99,50) , box-shadow: ??)
        :hover ( box-shadow ??) -> same box-shadow as in .current, so it does not change
    -> gb-btn-icon-round-large 
    -> gb-btn-icon-round-medium 
    -> gb-btn-icon-round-small 
		-> gb-btn-switcher 		
*/

.flex{
  display: flex;
 
}
/*gb font size start*/
.gb-text-title-heading-one {
 font-size: 62px;
}
.gb-text-title-heading-two {
 font-size: 14px;
}

.gb-text-title-heading-medium {
 font-size: 30px;
}

/*gb font size end*/


/*gb background color start*/
	
.gb-color-primary {
  background-color: rgb(249,99,50);
}

.gb-color-secondary { 
  background-color: rgb(237, 94, 47);
}

.gb-color-gray {
  background-color: rgb(242, 242, 242);
}

.gb-color-white {
  background-color: rgb(255,255,255);
}

.gb-color-white-opacity-10 {
  background-color: rgba(255,255,255,.1);
}

.gb-gradient-orange-black {
  background-color: gradient(linear, left top, left bottom, from(#ff6a3a), to(#000));
}

/*gb background color end*/

/*gb logo start*/

.gb-logo {
  height: 200px;
  width: 150px;
}

.gb-logo-small {
  width: 25px;
  height: 25px;
}

/*gb logo ends*/

/*gb input start*/

.gb-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
  width: 350px;
  width: 90%;
}

.gb-text-input {
  border-radius: 50px;
}

.gb-text-input-trans-background {
  max-width: 350px;
  width: 90%;
  height: 55px;
  border:none;
  padding: 0 20px 0 60px;
  box-sizing:border-box;
  background: rgba(255,255,255,0.1);
  color: rgb(255,255,255) ;	
}

.gb-text-input-trans-background::placeholder {
  color: rgb(255,255,255) ;
  opacity: 1;
}

.gb-text-input-outlined-orange {
  border: 1px solid #f96332;
  max-width: 350px;
  width: 90%;
  height: 50px;
  flex-grow: 1;
  height: 40px;
  font-size: 15px;
  margin: 0 20px;
}

.gb-text-input-outlined-orange::placeholder {
  color: #b1b1b1;
}

@media screen and (min-width: 700px) {
.gb-text-input-outlined-orange {
    border-radius: 50px;
    padding-left: 60px;
    margin: 0 20px 0 0;
  }
}

.gb-text-input-area {
  background: transparent;
  border: 0;
  text-align: left;
  max-width: 350px;
  width: 90%;
  height: 55px;
  position: relative;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
}

.gb-file-attachment {
  width: 40px;
  height: 40px;
  position: relative;
  opacity: 0.3;
  transition: 0.1s linear opacity;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.gb-file-attachment:hover {
  opacity: 0.8;
}

.gb-file-attachment svg {
  width: 80%;
  height: 80%;
  stroke: #000;
  fill: none;
}

@media screen and (min-width: 700px) {

.gb-file-attachment {
    left: 45px;
}

.gb-file-attachment svg {
    width: 60%;
    height: 60%;
  }
}

.gb-input-file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.gb-input-icon-left {
  stroke: rgba(255,255,255,0.5);
  fill: none;
  top: 0;
  left: 45px;
  width: 30px;
  height: 100%;
  position: relative;
}

.gb-input-icon-right {
  stroke: rgba(255,255,255,0.5);
  fill: none;
  top: 0;
  right: 30px;
  width: 30px;
  height: 100%;
  position: relative;
}

/*gb input ends*/

/*gb gb-card-one card start*/

.gb-card-one-wrapper {
    position: relative;
    color: #422736;
    background-color: #ecf4f4;
    text-align: center;
	display: flex;
}

.gb-card-one-wrapper .gb-card-one {
   width: 100%;
   display: grid;
   display:-ms-grid;
   grid-template-columns: repeat(2, minmax(100px, auto));
   grid-auto-flow: rows;
   overflow: hidden;
   grid-gap: 1px 1px;
}

.gb-card-one-wrapper .gb-card-one-image {
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 50vh;
    color: #fff;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;		
}

.gb-card-one-wrapper .gb-card-one-image-fashion {
	background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.0001) 0%, #514848 100%), url("images/fashion.png");	
}

.gb-card-one-wrapper .gb-card-one-image-science {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.0001) 0%, #514848 100%), url("images/science.png");
}

.gb-card-one-wrapper .gb-card-one-info {
    width: 100%;
	align-items: end;
	grid-row:3/3;
}

.gb-card-one-wrapper .gb-text-title-heading-one {
    font-weight: 500;
	width: 100%;
}

.gb-card-one-wrapper .gb-card-one-avatars-wrapper {
    width: 100%;
	man-height: 55px;
	height: 50px;
	background-color:#0F0F0F;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
    align-self: end;
    grid-row:5;
	margin-top: 2px;
}
	
.gb-card-one-wrapper .gb-text-title-heading-two {
    float: left;
	padding-left: 22px;
}

.gb-card-one-wrapper .gb-card-one-follower-avatar {
    float: right;
	padding-top: 10px;
}

.gb-card-one-wrapper .gb-text-title-heading-two p {
	line-height:29px;
	padding-top: 10px;	
}

.gb-card-one-wrapper .gb-card-one-btn-wrapper {
  position: relative;
  grid-row:4/4;
  padding: 10px;
}


@media screen and (min-width: 1024px) {

.gb-card-one-wrapper .gb-card-one-btn-wrapper { 
    grid-row: 4;
    align-self: end;
	float:right;    
 }
 

.gb-card-one-wrapper .gb-card-one-info { 
	grid-row:4;
	float:left;
}

.gb-card-one-wrapper .gb-text-title-heading-one {
    font-size: 32px;
	width: 28%;
	margin-bottom: -45px;
  }
}

@media screen and (max-width: 550px) {
 
.gb-card-one-wrapper .gb-card-one-info p {
	text-transform: uppercase;	
}

.gb-card-one-wrapper .gb-card-one-avatars-wrapper{
	 display: none; 
}

.gb-card-one-wrapper .gb-card-one-image {
    height: 25vh;
}

.gb-card-one-wrapper .gb-card-one-btn-wrapper {
   display: none;   
}

.gb-card-one-wrapper .gb-card-one-info {
 grid-row:5;
 float:left;
 background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
}	

.gb-card-one-wrapper .gb-text-title-heading-one {
 font-size: 16px;
 width: 28%;
 }
}

.gb-card-one-wrapper .gb-card-one-avatars-container{
	margin: 0 auto;
    display: flex;
    width: 100%;
    padding-right: 26px;
}

/**gb card one ends***/

/**gb card two starts**/
.gb-card-two-wrapper {
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 50vw;
  min-height: 220px;
  max-height: 350px;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

@media screen and (min-width: 550px) {
.gb-card-two-wrapper {
    height: 60vw;
    max-height: 400px;
    min-height: 300px;
}

.gb-card-two-wrapper h2.gb-text-title-heading-medium {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    font-size: 30px;
  }

.gb-card-two-wrapper .gb-avatars {
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }
}
@media screen and (min-width: 950px) {

.gb-card-two-wrapper {
    max-height: 450px;
  }
}

.gb-card-two-wrapper .gb-avatars-list {
  display: none;
}

@media screen and (min-width: 550px) {
.gb-card-two-wrapper .gb-avatars-list {
    display: flex;
    margin-top: 15px;
}

.gb-card-two-wrapper .gb-avatars-list li.follower {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

.gb-card-two-wrapper .gb-avatars-list li.follower:hover {
    opacity: 1;
}

.gb-card-two-wrapper .gb-avatars-list a {
    width: 100%;
    height: 100%;
    display: block;
}

.gb-card-two-wrapper .gb-avatars-list a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
 }
}

.gb-card-two-wrapper .follow-button {
  color: #f96332;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.gb-card-two-wrapper .follow-button:hover {
  transform: translateY(-2px);
}

.gb-card-two-wrapper h4 {
  font-size: 15px;
}

@media screen and (min-width: 550px) and (min-width: 950px) {
.gb-card-two-wrapper h2.gb-text-title-heading-medium {
    font-size: 40px;
  }
}

/**gb card two ends**/