* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

body {
  background-color: #f96332;
}
.wrapper {
  color: #fff;
  width: 100%;
  background: linear-gradient(#ff6a3a, #000);
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  transition: 0.5s linear transform;
}

@media screen and (min-width: 550px) {
  .wrapper.translated {
    transform: translateX(270px);
  }
  
}
@media screen and (min-width: 500px) {
  .wrapper {
    box-sizing: border-box;
    padding: 80px 0 45px;
  }
}
.wrapper .height-fix {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 20px 0;
  box-sizing: border-box;
  max-height: 650px;
  width: 100%;
}

.wrapper .background {
  width: 120%;
  position: absolute;
  top: -10%;
  left: -10%;
  height: 120%;
  background-color: #F96326;
 
}


.button-wrap {
  position: relative;
  z-index: 3;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 18px;
  display:inline;
}
 .button-wrap input {
  color: #fff;
}
.button-wrap input[type="button"] {
width: 18%;
height: 44px;
background: rgba(255,255,255,0);
border-radius: 50px;
border: 2px solid rgba(255,255,255,0.2);
cursor: pointer;
margin-right: 5%;
margin-left: 9%;
opacity: 0.8;
font-weight: bold;

}
.button-wrap input[type="button"]:hover {
  background: rgba(255,255,255,0.1);
  opacity: 1;
}


.channels-section{
	width: 100%;
	
	}



@media screen and (min-width: 500px) {
  .wrapper .height-fix {
    min-height: 600px;
  }
  
}
@media screen and (max-width: 500px) {
  .wrapper .height-fix {
	padding-top: 85px;
  }
  
}