.follower-wrapper {
	margin: 0 auto;
    display: flex;
    width: 100%;
    padding-right: 26px;
}

.follower-avatar {
    width: 30px;
    height: 30px;
	padding-right: 10px;
}
.follower-avatar-image {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
}
